#### Import libraries

In [27]:
import pandas as pd
import numpy as np

#### Load file

In [6]:
washington_file = r"C:\Users\PC\Downloads\Kaggle\Iowa House Price\train.csv"
washington_data = pd.read_csv(washington_file)

#### Get some necessary info

Overview of the first 5 rows

In [7]:
washington_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

Shape of the data (rows, columns)

In [8]:
washington_data.shape

(1460, 81)

Rows and columns

In [9]:
# The variables/columns
washington_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [10]:
# No. of columns
len(washington_data.columns)

81

In [11]:
# No. of rows
len(washington_data.index)

# or df.shape[0] , change 0 t0 1 for columns

1460

Accessing specific data

In [12]:
# Specific data (row 3, column 'SalePrice')
washington_data.loc[3,'SalePrice']

140000

In [13]:
# Specific row and all columns (row 3)
washington_data.loc[3,:]  

#or just df.loc[3]

Id                     4
MSSubClass            70
MSZoning              RL
LotFrontage         60.0
LotArea             9550
                  ...
MoSold                 2
YrSold              2006
SaleType              WD
SaleCondition    Abnorml
SalePrice         140000
Name: 3, Length: 81, dtype: object

In [14]:
# Specific column and all rows (columns 'SalePrice')
washington_data.loc[:,'SalePrice']

# or just df.loc['SalePrice'] / washington_data.SalePrice

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [15]:
# Specific row and some columns
washington_data.iloc[0,0:3]

Id             1
MSSubClass    60
MSZoning      RL
Name: 0, dtype: object

Missing Values

In [16]:
# Overview
washington_data.isnull()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1456,False,False,False,False,False,False,True,False,False,False,...,False,True,False,True,False,False,False,False,False,False
1457,False,False,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1458,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1459,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False

In [17]:
# How many null values in the data
washington_data.isnull().sum().sum()

6965

In [18]:
# Which columns have null value
washington_data.columns[washington_data.isnull().any()]

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

In [19]:
# Total NaN at each column
washington_data.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [20]:
# Total NaN at each row
for i in range(len(washington_data.index)) :
    print(" Total NaN in row", i + 1, ":",
          washington_data.iloc[i].isnull().sum())

 Total NaN in row 1 : 5
 Total NaN in row 2 : 4
 Total NaN in row 3 : 4
 Total NaN in row 4 : 4
 Total NaN in row 5 : 4
 Total NaN in row 6 : 3
 Total NaN in row 7 : 4
 Total NaN in row 8 : 4
 Total NaN in row 9 : 4
 Total NaN in row 10 : 4
 Total NaN in row 11 : 5
 Total NaN in row 12 : 4
 Total NaN in row 13 : 6
 Total NaN in row 14 : 4
 Total NaN in row 15 : 4
 Total NaN in row 16 : 4
 Total NaN in row 17 : 4
 Total NaN in row 18 : 9
 Total NaN in row 19 : 5
 Total NaN in row 20 : 4
 Total NaN in row 21 : 4
 Total NaN in row 22 : 2
 Total NaN in row 23 : 4
 Total NaN in row 24 : 4
 Total NaN in row 25 : 4
 Total NaN in row 26 : 4
 Total NaN in row 27 : 5
 Total NaN in row 28 : 4
 Total NaN in row 29 : 4
 Total NaN in row 30 : 5
 Total NaN in row 31 : 3
 Total NaN in row 32 : 5
 Total NaN in row 33 : 5
 Total NaN in row 34 : 4
 Total NaN in row 35 : 4
 Total NaN in row 36 : 4
 Total NaN in row 37 : 5
 Total NaN in row 38 : 4
 Total NaN in row 39 : 5
 Total NaN in row 40 : 15
 Total NaN in row 41 : 3
 Total NaN in row 42 : 4
 Total NaN in row 43 : 5
 Total NaN in row 44 : 5
 Total NaN in row 45 : 5
 Total NaN in row 46 : 4
 Total NaN in row 47 : 4
 Total NaN in row 48 : 5
 Total NaN in row 49 : 10
 Total NaN in row 50 : 4
 Total NaN in row 51 : 6
 Total NaN in row 52 : 2
 Total NaN in row 53 : 5
 Total NaN in row 54 : 4
 Total NaN in row 55 : 3
 Total NaN in row 56 : 4
 Total NaN in row 57 : 4
 Total NaN in row 58 : 5
 Total NaN in row 59 : 4
 Total NaN in row 60 : 4
 Total NaN in row 61 : 5
 Total NaN in row 62 : 5
 Total NaN in row 63 : 4
 Total NaN in row 64 : 4
 Total NaN in row 65 : 5
 Total NaN in row 66 : 4
 Total NaN in row 67 : 5
 Total NaN in row 68 : 5
 Total NaN in row 69 : 5
 Total NaN in row 70 : 4
 Total NaN in row 71 : 4
 Total NaN in row 72 : 5
 Total NaN in row 73 : 4
 Total NaN in row 74 : 4
 Total NaN in row 75 : 5
 Total NaN in row 76 : 4
 Total NaN in row 77 : 6
 Total NaN in row 78 : 4
 Total NaN in row 79 : 10
 Total NaN in row 80 : 3
 Total NaN in row 81 : 4
 Total NaN in row 82 : 5
 Total NaN in row 83 : 4
 Total NaN in row 84 : 5
 Total NaN in row 85 : 4
 Total NaN in row 86 : 4
 Total NaN in row 87 : 4
 Total NaN in row 88 : 4
 Total NaN in row 89 : 9
 Total NaN in row 90 : 10
 Total NaN in row 91 : 10
 Total NaN in row 92 : 4
 Total NaN in row 93 : 4
 Total NaN in row 94 : 4
 Total NaN in row 95 : 5
 Total NaN in row 96 : 4
 Total NaN in row 97 : 5
 Total NaN in row 98 : 5
 Total NaN in row 99 : 4
 Total NaN in row 100 : 9
 Total NaN in row 101 : 5
 Total NaN in row 102 : 4
 Total NaN in row 103 : 10
 Total NaN in row 104 : 5
 Total NaN in row 105 : 5
 Total NaN in row 106 : 4
 Total NaN in row 107 : 3
 Total NaN in row 108 : 5
 Total NaN in row 109 : 10
 Total NaN in row 110 : 3
 Total NaN in row 111 : 5
 Total NaN in row 112 : 5
 Total NaN in row 113 : 4
 Total NaN in row 114 : 4
 Total NaN in row 115 : 3
 Total NaN in row 116 : 3
 Total NaN in row 117 : 5
 Total NaN in row 118 : 5
 Total NaN in row 119 : 4
 Total NaN in row 120 : 4
 Total NaN in row 121 : 5
 Total NaN in row 122 : 4
 Total NaN in row 123 : 5
 Total NaN in row 124 : 5
 Total NaN in row 125 : 4
 Total NaN in row 126 : 10
 Total NaN in row 127 : 5
 Total NaN in row 128 : 9
 Total NaN in row 129 : 4
 Total NaN in row 130 : 4
 Total NaN in row 131 : 3
 Total NaN in row 132 : 5
 Total NaN in row 133 : 5
 Total NaN in row 134 : 6
 Total NaN in row 135 : 3
 Total NaN in row 136 : 3
 Total NaN in row 137 : 5
 Total NaN in row 138 : 5
 Total NaN in row 139 : 3
 Total NaN in row 140 : 4
 Total NaN in row 141 : 9
 Total NaN in row 142 : 5
 Total NaN in row 143 : 4
 Total NaN in row 144 : 5
 Total NaN in row 145 : 5
 Total NaN in row 146 : 5
 Total NaN in row 147 : 5
 Total NaN in row 148 : 5
 Total NaN in row 149 : 10
 Total NaN in row 150 : 6
 Total NaN in row 151 : 4
 Total NaN in row 152 : 4
 Total NaN in row 153 : 4
 Total NaN in row 154 : 5
 Total NaN in row 155 : 5
 Total NaN in row 156 : 10
 Total NaN in row 157 : 10
 Total NaN in row 158 : 4
 Total NaN in row 159 : 3
 Total NaN in row 160 : 4
 Total NaN in row 161 : 6
 Total NaN in row 162 : 4
 Total NaN in row 163 : 4
 Total NaN in row 164 : 9
 Total NaN in row 165 : 4
 Total NaN in row 166 : 10
 Total NaN in row 167 : 4
 Total NaN in row 168 : 4
 Total NaN in row 169 : 4
 Total NaN in row 170 : 5
 Total NaN in row 171 : 6
 Total NaN in row 172 : 4
 Total NaN in row 173 : 4
 Total NaN in row 174 : 4
 Total NaN in row 175 : 4
 Total NaN in row 176 : 3
 Total NaN in row 177 : 4
 Total NaN in row 178 : 5
 Total NaN in row 179 : 4
 Total NaN in row 180 : 5
 Total NaN in row 181 : 5
 Total NaN in row 182 : 4
 Total NaN in row 183 : 8
 Total NaN in row 184 : 5
 Total NaN in row 185 : 4
 Total NaN in row 186 : 3
 Total NaN in row 187 : 5
 Total NaN in row 188 : 4
 Total NaN in row 189 : 4
 Total NaN in row 190 : 4
 Total NaN in row 191 : 4
 Total NaN in row 192 : 6
 Total NaN in row 193 : 5
 Total NaN in row 194 : 5
 Total NaN in row 195 : 5
 Total NaN in row 196 : 4
 Total NaN in row 197 : 4
 Total NaN in row 198 : 2
 Total NaN in row 199 : 9
 Total NaN in row 200 : 4
 Total NaN in row 201 : 5
 Total NaN in row 202 : 3
 Total NaN in row 203 : 5
 Total NaN in row 204 : 5
 Total NaN in row 205 : 3
 Total NaN in row 206 : 5
 Total NaN in row 207 : 4
 Total NaN in row 208 : 4
 Total NaN in row 209 : 5
 Total NaN in row 210 : 4
 Total NaN in row 211 : 10
 Total NaN in row 212 : 5
 Total NaN in row 213 : 4
 Total NaN in row 214 : 5
 Total NaN in row 215 : 4
 Total NaN in row 216 : 3
 Total NaN in row 217 : 5
 Total NaN in row 218 : 4
 Total NaN in row 219 : 5
 Total NaN in row 220 : 5
 Total NaN in row 221 : 5
 Total NaN in row 222 : 5
 Total NaN in row 223 : 3
 Total NaN in row 224 : 5
 Total NaN in row 225 : 4
 Total NaN in row 226 : 5
 Total NaN in row 227 : 4
 Total NaN in row 228 : 5
 Total NaN in row 229 : 3
 Total NaN in row 230 : 4
 Total NaN in row 231 : 5
 Total NaN in row 232 : 4
 Total NaN in row 233 : 4
 Total NaN in row 234 : 4
 Total NaN in row 235 : 7
 Total NaN in row 236 : 5
 Total NaN in row 237 : 5
 Total NaN in row 238 : 6
 Total NaN in row 239 : 5
 Total NaN in row 240 : 3
 Total NaN in row 241 : 5
 Total NaN in row 242 : 10
 Total NaN in row 243 : 5
 Total NaN in row 244 : 4
 Total NaN in row 245 : 5
 Total NaN in row 246 : 4
 Total NaN in row 247 : 4
 Total NaN in row 248 : 4
 Total NaN in row 249 : 5
 Total NaN in row 250 : 4
 Total NaN in row 251 : 8
 Total NaN in row 252 : 4
 Total NaN in row 253 : 5
 Total NaN in row 254 : 4
 Total NaN in row 255 : 5
 Total NaN in row 256 : 4
 Total NaN in row 257 : 5
 Total NaN in row 258 : 4
 Total NaN in row 259 : 4
 Total NaN in row 260 : 10
 Total NaN in row 261 : 3
 Total NaN in row 262 : 4
 Total NaN in row 263 : 3
 Total NaN in row 264 : 5
 Total NaN in row 265 : 4
 Total NaN in row 266 : 3
 Total NaN in row 267 : 4
 Total NaN in row 268 : 4
 Total NaN in row 269 : 4
 Total NaN in row 270 : 4
 Total NaN in row 271 : 4
 Total NaN in row 272 : 4
 Total NaN in row 273 : 4
 Total NaN in row 274 : 3
 Total NaN in row 275 : 5
 Total NaN in row 276 : 5
 Total NaN in row 277 : 5
 Total NaN in row 278 : 5
 Total NaN in row 279 : 4
 Total NaN in row 280 : 4
 Total NaN in row 281 : 4
 Total NaN in row 282 : 4
 Total NaN in row 283 : 4
 Total NaN in row 284 : 4
 Total NaN in row 285 : 5
 Total NaN in row 286 : 4
 Total NaN in row 287 : 3
 Total NaN in row 288 : 11
 Total NaN in row 289 : 5
 Total NaN in row 290 : 5
 Total NaN in row 291 : 4
 Total NaN in row 292 : 9
 Total NaN in row 293 : 4
 Total NaN in row 294 : 5
 Total NaN in row 295 : 4
 Total NaN in row 296 : 4
 Total NaN in row 297 : 4
 Total NaN in row 298 : 3
 Total NaN in row 299 : 4
 Total NaN in row 300 : 3
 Total NaN in row 301 : 4
 Total NaN in row 302 : 4
 Total NaN in row 303 : 4
 Total NaN in row 304 : 4
 Total NaN in row 305 : 4
 Total NaN in row 306 : 5
 Total NaN in row 307 : 4
 Total NaN in row 308 : 9
 Total NaN in row 309 : 6
 Total NaN in row 310 : 4
 Total NaN in row 311 : 5
 Total NaN in row 312 : 4
 Total NaN in row 313 : 3
 Total NaN in row 314 : 4
 Total NaN in row 315 : 3
 Total NaN in row 316 : 4
 Total NaN in row 317 : 3
 Total NaN in row 318 : 4
 Total NaN in row 319 : 4
 Total NaN in row 320 : 5
 Total NaN in row 321 : 5
 Total NaN in row 322 : 4
 Total NaN in row 323 : 3
 Total NaN in row 324 : 5
 Total NaN in row 325 : 4
 Total NaN in row 326 : 5
 Total NaN in row 327 : 4
 Total NaN in row 328 : 5
 Total NaN in row 329 : 5
 Total NaN in row 330 : 4
 Total NaN in row 331 : 6
 Total NaN in row 332 : 5
 Total NaN in row 333 : 5
 Total NaN in row 334 : 4
 Total NaN in row 335 : 4
 Total NaN in row 336 : 4
 Total NaN in row 337 : 4
 Total NaN in row 338 : 5
 Total NaN in row 339 : 4
 Total NaN in row 340 : 5
 Total NaN in row 341 : 5
 Total NaN in row 342 : 5
 Total NaN in row 343 : 11
 Total NaN in row 344 : 4
 Total NaN in row 345 : 5
 Total NaN in row 346 : 4
 Total NaN in row 347 : 5
 Total NaN in row 348 : 5
 Total NaN in row 349 : 5
 Total NaN in row 350 : 4
 Total NaN in row 351 : 4
 Total NaN in row 352 : 5
 Total NaN in row 353 : 5
 Total NaN in row 354 : 5
 Total NaN in row 355 : 4
 Total NaN in row 356 : 5
 Total NaN in row 357 : 6
 Total NaN in row 358 : 3
 Total NaN in row 359 : 5
 Total NaN in row 360 : 4
 Total NaN in row 361 : 4
 Total NaN in row 362 : 5
 Total NaN in row 363 : 9
 Total NaN in row 364 : 5
 Total NaN in row 365 : 5
 Total NaN in row 366 : 5
 Total NaN in row 367 : 5
 Total NaN in row 368 : 4
 Total NaN in row 369 : 4
 Total NaN in row 370 : 5
 Total NaN in row 371 : 5
 Total NaN in row 372 : 9
 Total NaN in row 373 : 4
 Total NaN in row 374 : 4
 Total NaN in row 375 : 4
 Total NaN in row 376 : 11
 Total NaN in row 377 : 5
 Total NaN in row 378 : 4
 Total NaN in row 379 : 4
 Total NaN in row 380 : 4
 Total NaN in row 381 : 3
 Total NaN in row 382 : 3
 Total NaN in row 383 : 5
 Total NaN in row 384 : 5
 Total NaN in row 385 : 5
 Total NaN in row 386 : 4
 Total NaN in row 387 : 10
 Total NaN in row 388 : 3
 Total NaN in row 389 : 5
 Total NaN in row 390 : 4
 Total NaN in row 391 : 3
 Total NaN in row 392 : 4
 Total NaN in row 393 : 9
 Total NaN in row 394 : 9
 Total NaN in row 395 : 5
 Total NaN in row 396 : 5
 Total NaN in row 397 : 5
 Total NaN in row 398 : 4
 Total NaN in row 399 : 5
 Total NaN in row 400 : 5
 Total NaN in row 401 : 4
 Total NaN in row 402 : 4
 Total NaN in row 403 : 4
 Total NaN in row 404 : 4
 Total NaN in row 405 : 5
 Total NaN in row 406 : 4
 Total NaN in row 407 : 5
 Total NaN in row 408 : 5
 Total NaN in row 409 : 4
 Total NaN in row 410 : 4
 Total NaN in row 411 : 5
 Total NaN in row 412 : 5
 Total NaN in row 413 : 5
 Total NaN in row 414 : 3
 Total NaN in row 415 : 4
 Total NaN in row 416 : 5
 Total NaN in row 417 : 4
 Total NaN in row 418 : 4
 Total NaN in row 419 : 5
 Total NaN in row 420 : 4
 Total NaN in row 421 : 5
 Total NaN in row 422 : 5
 Total NaN in row 423 : 5
 Total NaN in row 424 : 4
 Total NaN in row 425 : 4
 Total NaN in row 426 : 3
 Total NaN in row 427 : 5
 Total NaN in row 428 : 5
 Total NaN in row 429 : 5
 Total NaN in row 430 : 4
 Total NaN in row 431 : 5
 Total NaN in row 432 : 9
 Total NaN in row 433 : 5
 Total NaN in row 434 : 4
 Total NaN in row 435 : 10
 Total NaN in row 436 : 4
 Total NaN in row 437 : 5
 Total NaN in row 438 : 5
 Total NaN in row 439 : 3
 Total NaN in row 440 : 2
 Total NaN in row 441 : 4
 Total NaN in row 442 : 10
 Total NaN in row 443 : 4
 Total NaN in row 444 : 4
 Total NaN in row 445 : 4
 Total NaN in row 446 : 3
 Total NaN in row 447 : 4
 Total NaN in row 448 : 5
 Total NaN in row 449 : 4
 Total NaN in row 450 : 5
 Total NaN in row 451 : 5
 Total NaN in row 452 : 4
 Total NaN in row 453 : 6
 Total NaN in row 454 : 5
 Total NaN in row 455 : 5
 Total NaN in row 456 : 4
 Total NaN in row 457 : 4
 Total NaN in row 458 : 5
 Total NaN in row 459 : 3

 Total NaN in row 460 : 5
 Total NaN in row 461 : 5
 Total NaN in row 462 : 4
 Total NaN in row 463 : 3
 Total NaN in row 464 : 4
 Total NaN in row 465 : 10
 Total NaN in row 466 : 5
 Total NaN in row 467 : 3
 Total NaN in row 468 : 4
 Total NaN in row 469 : 4
 Total NaN in row 470 : 5
 Total NaN in row 471 : 6
 Total NaN in row 472 : 4
 Total NaN in row 473 : 5
 Total NaN in row 474 : 4
 Total NaN in row 475 : 5
 Total NaN in row 476 : 5
 Total NaN in row 477 : 4
 Total NaN in row 478 : 4
 Total NaN in row 479 : 4
 Total NaN in row 480 : 4
 Total NaN in row 481 : 4
 Total NaN in row 482 : 4
 Total NaN in row 483 : 3
 Total NaN in row 484 : 5
 Total NaN in row 485 : 6
 Total NaN in row 486 : 4
 Total NaN in row 487 : 5
 Total NaN in row 488 : 4
 Total NaN in row 489 : 4
 Total NaN in row 490 : 5
 Total NaN in row 491 : 5
 Total NaN in row 492 : 3
 Total NaN in row 493 : 5
 Total NaN in row 494 : 4
 Total NaN in row 495 : 5
 Total NaN in row 496 : 9
 Total NaN in row 497 : 5
 Total NaN in row 498 : 3
 Total NaN in row 499 : 4
 Total NaN in row 500 : 3
 Total NaN in row 501 : 5
 Total NaN in row 502 : 5
 Total NaN in row 503 : 3
 Total NaN in row 504 : 3
 Total NaN in row 505 : 4
 Total NaN in row 506 : 4
 Total NaN in row 507 : 4
 Total NaN in row 508 : 5
 Total NaN in row 509 : 4
 Total NaN in row 510 : 4
 Total NaN in row 511 : 3
 Total NaN in row 512 : 4
 Total NaN in row 513 : 5
 Total NaN in row 514 : 5
 Total NaN in row 515 : 4
 Total NaN in row 516 : 4
 Total NaN in row 517 : 4
 Total NaN in row 518 : 4
 Total NaN in row 519 : 5
 Total NaN in row 520 : 3
 Total NaN in row 521 : 14
 Total NaN in row 522 : 4
 Total NaN in row 523 : 4
 Total NaN in row 524 : 4
 Total NaN in row 525 : 4
 Total NaN in row 526 : 3
 Total NaN in row 527 : 5
 Total NaN in row 528 : 4
 Total NaN in row 529 : 10
 Total NaN in row 530 : 7
 Total NaN in row 531 : 4
 Total NaN in row 532 : 5
 Total NaN in row 533 : 9
 Total NaN in row 534 : 15
 Total NaN in row 535 : 4
 Total NaN in row 536 : 10
 Total NaN in row 537 : 5
 Total NaN in row 538 : 5
 Total NaN in row 539 : 5
 Total NaN in row 540 : 3
 Total NaN in row 541 : 4
 Total NaN in row 542 : 5
 Total NaN in row 543 : 4
 Total NaN in row 544 : 5
 Total NaN in row 545 : 4
 Total NaN in row 546 : 6
 Total NaN in row 547 : 4
 Total NaN in row 548 : 5
 Total NaN in row 549 : 4
 Total NaN in row 550 : 4
 Total NaN in row 551 : 5
 Total NaN in row 552 : 5
 Total NaN in row 553 : 4
 Total NaN in row 554 : 9
 Total NaN in row 555 : 4
 Total NaN in row 556 : 4
 Total NaN in row 557 : 3
 Total NaN in row 558 : 5
 Total NaN in row 559 : 4
 Total NaN in row 560 : 5
 Total NaN in row 561 : 5
 Total NaN in row 562 : 4
 Total NaN in row 563 : 9
 Total NaN in row 564 : 4
 Total NaN in row 565 : 5
 Total NaN in row 566 : 5
 Total NaN in row 567 : 4
 Total NaN in row 568 : 5
 Total NaN in row 569 : 4
 Total NaN in row 570 : 5
 Total NaN in row 571 : 5
 Total NaN in row 572 : 5
 Total NaN in row 573 : 5
 Total NaN in row 574 : 4
 Total NaN in row 575 : 4
 Total NaN in row 576 : 5
 Total NaN in row 577 : 4
 Total NaN in row 578 : 4
 Total NaN in row 579 : 4
 Total NaN in row 580 : 4
 Total NaN in row 581 : 5
 Total NaN in row 582 : 4
 Total NaN in row 583 : 10
 Total NaN in row 584 : 4
 Total NaN in row 585 : 5
 Total NaN in row 586 : 4
 Total NaN in row 587 : 4
 Total NaN in row 588 : 5
 Total NaN in row 589 : 4
 Total NaN in row 590 : 4
 Total NaN in row 591 : 5
 Total NaN in row 592 : 4
 Total NaN in row 593 : 5
 Total NaN in row 594 : 6
 Total NaN in row 595 : 4
 Total NaN in row 596 : 4
 Total NaN in row 597 : 4
 Total NaN in row 598 : 4
 Total NaN in row 599 : 4
 Total NaN in row 600 : 3
 Total NaN in row 601 : 4
 Total NaN in row 602 : 4
 Total NaN in row 603 : 4
 Total NaN in row 604 : 4
 Total NaN in row 605 : 4
 Total NaN in row 606 : 4
 Total NaN in row 607 : 4
 Total NaN in row 608 : 5
 Total NaN in row 609 : 4
 Total NaN in row 610 : 5
 Total NaN in row 611 : 5
 Total NaN in row 612 : 3
 Total NaN in row 613 : 5
 Total NaN in row 614 : 10
 Total NaN in row 615 : 10
 Total NaN in row 616 : 4
 Total NaN in row 617 : 5
 Total NaN in row 618 : 5
 Total NaN in row 619 : 4
 Total NaN in row 620 : 4
 Total NaN in row 621 : 9
 Total NaN in row 622 : 4
 Total NaN in row 623 : 5
 Total NaN in row 624 : 5
 Total NaN in row 625 : 4
 Total NaN in row 626 : 5
 Total NaN in row 627 : 3
 Total NaN in row 628 : 4
 Total NaN in row 629 : 4
 Total NaN in row 630 : 4
 Total NaN in row 631 : 3
 Total NaN in row 632 : 4
 Total NaN in row 633 : 4
 Total NaN in row 634 : 5
 Total NaN in row 635 : 3
 Total NaN in row 636 : 9
 Total NaN in row 637 : 9
 Total NaN in row 638 : 5
 Total NaN in row 639 : 9
 Total NaN in row 640 : 4
 Total NaN in row 641 : 4
 Total NaN in row 642 : 5
 Total NaN in row 643 : 3
 Total NaN in row 644 : 4
 Total NaN in row 645 : 4
 Total NaN in row 646 : 6
 Total NaN in row 647 : 10
 Total NaN in row 648 : 4
 Total NaN in row 649 : 4
 Total NaN in row 650 : 9
 Total NaN in row 651 : 7
 Total NaN in row 652 : 3
 Total NaN in row 653 : 4
 Total NaN in row 654 : 3
 Total NaN in row 655 : 4
 Total NaN in row 656 : 5
 Total NaN in row 657 : 4
 Total NaN in row 658 : 3
 Total NaN in row 659 : 4
 Total NaN in row 660 : 4
 Total NaN in row 661 : 5
 Total NaN in row 662 : 4
 Total NaN in row 663 : 4
 Total NaN in row 664 : 4
 Total NaN in row 665 : 4
 Total NaN in row 666 : 4
 Total NaN in row 667 : 5
 Total NaN in row 668 : 4
 Total NaN in row 669 : 5
 Total NaN in row 670 : 4
 Total NaN in row 671 : 5
 Total NaN in row 672 : 5
 Total NaN in row 673 : 5
 Total NaN in row 674 : 4
 Total NaN in row 675 : 4
 Total NaN in row 676 : 4
 Total NaN in row 677 : 4
 Total NaN in row 678 : 5
 Total NaN in row 679 : 4
 Total NaN in row 680 : 6
 Total NaN in row 681 : 4
 Total NaN in row 682 : 4
 Total NaN in row 683 : 5
 Total NaN in row 684 : 4
 Total NaN in row 685 : 5
 Total NaN in row 686 : 5
 Total NaN in row 687 : 5
 Total NaN in row 688 : 6
 Total NaN in row 689 : 4
 Total NaN in row 690 : 4
 Total NaN in row 691 : 5
 Total NaN in row 692 : 4
 Total NaN in row 693 : 4
 Total NaN in row 694 : 5
 Total NaN in row 695 : 4
 Total NaN in row 696 : 4
 Total NaN in row 697 : 5
 Total NaN in row 698 : 5
 Total NaN in row 699 : 3
 Total NaN in row 700 : 4
 Total NaN in row 701 : 4
 Total NaN in row 702 : 5
 Total NaN in row 703 : 4
 Total NaN in row 704 : 3
 Total NaN in row 705 : 5
 Total NaN in row 706 : 14
 Total NaN in row 707 : 5
 Total NaN in row 708 : 4
 Total NaN in row 709 : 4
 Total NaN in row 710 : 5
 Total NaN in row 711 : 10
 Total NaN in row 712 : 4
 Total NaN in row 713 : 4
 Total NaN in row 714 : 5
 Total NaN in row 715 : 6
 Total NaN in row 716 : 3
 Total NaN in row 717 : 4
 Total NaN in row 718 : 3
 Total NaN in row 719 : 4
 Total NaN in row 720 : 4
 Total NaN in row 721 : 5
 Total NaN in row 722 : 6
 Total NaN in row 723 : 5
 Total NaN in row 724 : 5
 Total NaN in row 725 : 4
 Total NaN in row 726 : 4
 Total NaN in row 727 : 5
 Total NaN in row 728 : 5
 Total NaN in row 729 : 5
 Total NaN in row 730 : 4
 Total NaN in row 731 : 4
 Total NaN in row 732 : 4
 Total NaN in row 733 : 4
 Total NaN in row 734 : 2
 Total NaN in row 735 : 6
 Total NaN in row 736 : 4
 Total NaN in row 737 : 10
 Total NaN in row 738 : 4
 Total NaN in row 739 : 10
 Total NaN in row 740 : 5
 Total NaN in row 741 : 3
 Total NaN in row 742 : 4
 Total NaN in row 743 : 4
 Total NaN in row 744 : 4
 Total NaN in row 745 : 4
 Total NaN in row 746 : 5
 Total NaN in row 747 : 5
 Total NaN in row 748 : 3
 Total NaN in row 749 : 4
 Total NaN in row 750 : 10
 Total NaN in row 751 : 9
 Total NaN in row 752 : 6
 Total NaN in row 753 : 5
 Total NaN in row 754 : 4
 Total NaN in row 755 : 5
 Total NaN in row 756 : 4
 Total NaN in row 757 : 5
 Total NaN in row 758 : 4
 Total NaN in row 759 : 4
 Total NaN in row 760 : 4
 Total NaN in row 761 : 4
 Total NaN in row 762 : 5
 Total NaN in row 763 : 5
 Total NaN in row 764 : 4
 Total NaN in row 765 : 4
 Total NaN in row 766 : 4
 Total NaN in row 767 : 2
 Total NaN in row 768 : 4
 Total NaN in row 769 : 4
 Total NaN in row 770 : 4
 Total NaN in row 771 : 6
 Total NaN in row 772 : 5
 Total NaN in row 773 : 3
 Total NaN in row 774 : 5
 Total NaN in row 775 : 4
 Total NaN in row 776 : 5
 Total NaN in row 777 : 5
 Total NaN in row 778 : 3
 Total NaN in row 779 : 9
 Total NaN in row 780 : 5
 Total NaN in row 781 : 4
 Total NaN in row 782 : 5
 Total NaN in row 783 : 5
 Total NaN in row 784 : 5
 Total NaN in row 785 : 8
 Total NaN in row 786 : 5
 Total NaN in row 787 : 4
 Total NaN in row 788 : 5
 Total NaN in row 789 : 5
 Total NaN in row 790 : 6
 Total NaN in row 791 : 4
 Total NaN in row 792 : 5
 Total NaN in row 793 : 4
 Total NaN in row 794 : 5
 Total NaN in row 795 : 4
 Total NaN in row 796 : 3
 Total NaN in row 797 : 3
 Total NaN in row 798 : 5
 Total NaN in row 799 : 4
 Total NaN in row 800 : 3
 Total NaN in row 801 : 4
 Total NaN in row 802 : 5
 Total NaN in row 803 : 4
 Total NaN in row 804 : 4
 Total NaN in row 805 : 4
 Total NaN in row 806 : 5
 Total NaN in row 807 : 5
 Total NaN in row 808 : 4
 Total NaN in row 809 : 3
 Total NaN in row 810 : 4
 Total NaN in row 811 : 2
 Total NaN in row 812 : 5
 Total NaN in row 813 : 4
 Total NaN in row 814 : 4
 Total NaN in row 815 : 4
 Total NaN in row 816 : 5
 Total NaN in row 817 : 5
 Total NaN in row 818 : 5
 Total NaN in row 819 : 4
 Total NaN in row 820 : 4
 Total NaN in row 821 : 5
 Total NaN in row 822 : 4
 Total NaN in row 823 : 5
 Total NaN in row 824 : 3
 Total NaN in row 825 : 4
 Total NaN in row 826 : 4
 Total NaN in row 827 : 10
 Total NaN in row 828 : 4
 Total NaN in row 829 : 6
 Total NaN in row 830 : 4
 Total NaN in row 831 : 4
 Total NaN in row 832 : 4
 Total NaN in row 833 : 4
 Total NaN in row 834 : 5
 Total NaN in row 835 : 4
 Total NaN in row 836 : 5
 Total NaN in row 837 : 3
 Total NaN in row 838 : 5
 Total NaN in row 839 : 5
 Total NaN in row 840 : 5
 Total NaN in row 841 : 6
 Total NaN in row 842 : 3
 Total NaN in row 843 : 4
 Total NaN in row 844 : 10
 Total NaN in row 845 : 3
 Total NaN in row 846 : 5
 Total NaN in row 847 : 4
 Total NaN in row 848 : 4
 Total NaN in row 849 : 4
 Total NaN in row 850 : 4
 Total NaN in row 851 : 5
 Total NaN in row 852 : 5
 Total NaN in row 853 : 3
 Total NaN in row 854 : 4
 Total NaN in row 855 : 4
 Total NaN in row 856 : 6
 Total NaN in row 857 : 5
 Total NaN in row 858 : 4
 Total NaN in row 859 : 3
 Total NaN in row 860 : 5
 Total NaN in row 861 : 3
 Total NaN in row 862 : 5
 Total NaN in row 863 : 4
 Total NaN in row 864 : 4
 Total NaN in row 865 : 5
 Total NaN in row 866 : 5
 Total NaN in row 867 : 4
 Total NaN in row 868 : 4
 Total NaN in row 869 : 10
 Total NaN in row 870 : 3
 Total NaN in row 871 : 5
 Total NaN in row 872 : 5
 Total NaN in row 873 : 4
 Total NaN in row 874 : 3
 Total NaN in row 875 : 5
 Total NaN in row 876 : 4
 Total NaN in row 877 : 5
 Total NaN in row 878 : 4
 Total NaN in row 879 : 3
 Total NaN in row 880 : 5
 Total NaN in row 881 : 5

 Total NaN in row 882 : 4
 Total NaN in row 883 : 4
 Total NaN in row 884 : 5
 Total NaN in row 885 : 4
 Total NaN in row 886 : 4
 Total NaN in row 887 : 5
 Total NaN in row 888 : 5
 Total NaN in row 889 : 4
 Total NaN in row 890 : 4
 Total NaN in row 891 : 2
 Total NaN in row 892 : 4
 Total NaN in row 893 : 4
 Total NaN in row 894 : 4
 Total NaN in row 895 : 10
 Total NaN in row 896 : 4
 Total NaN in row 897 : 4
 Total NaN in row 898 : 10
 Total NaN in row 899 : 4
 Total NaN in row 900 : 4
 Total NaN in row 901 : 6
 Total NaN in row 902 : 5
 Total NaN in row 903 : 4
 Total NaN in row 904 : 4
 Total NaN in row 905 : 5
 Total NaN in row 906 : 4
 Total NaN in row 907 : 4
 Total NaN in row 908 : 4
 Total NaN in row 909 : 5
 Total NaN in row 910 : 4
 Total NaN in row 911 : 5
 Total NaN in row 912 : 6
 Total NaN in row 913 : 3
 Total NaN in row 914 : 5
 Total NaN in row 915 : 4
 Total NaN in row 916 : 5
 Total NaN in row 917 : 5
 Total NaN in row 918 : 6
 Total NaN in row 919 : 3
 Total NaN in row 920 : 4
 Total NaN in row 921 : 5
 Total NaN in row 922 : 9
 Total NaN in row 923 : 4
 Total NaN in row 924 : 4
 Total NaN in row 925 : 4
 Total NaN in row 926 : 6
 Total NaN in row 927 : 4
 Total NaN in row 928 : 4
 Total NaN in row 929 : 5
 Total NaN in row 930 : 5
 Total NaN in row 931 : 5
 Total NaN in row 932 : 4
 Total NaN in row 933 : 4
 Total NaN in row 934 : 5
 Total NaN in row 935 : 4
 Total NaN in row 936 : 5
 Total NaN in row 937 : 7
 Total NaN in row 938 : 4
 Total NaN in row 939 : 5
 Total NaN in row 940 : 5
 Total NaN in row 941 : 5
 Total NaN in row 942 : 4
 Total NaN in row 943 : 10
 Total NaN in row 944 : 5
 Total NaN in row 945 : 5
 Total NaN in row 946 : 4
 Total NaN in row 947 : 4
 Total NaN in row 948 : 4
 Total NaN in row 949 : 5
 Total NaN in row 950 : 4
 Total NaN in row 951 : 5
 Total NaN in row 952 : 4
 Total NaN in row 953 : 4
 Total NaN in row 954 : 3
 Total NaN in row 955 : 10
 Total NaN in row 956 : 5
 Total NaN in row 957 : 3
 Total NaN in row 958 : 5
 Total NaN in row 959 : 5
 Total NaN in row 960 : 5
 Total NaN in row 961 : 10
 Total NaN in row 962 : 5
 Total NaN in row 963 : 4
 Total NaN in row 964 : 5
 Total NaN in row 965 : 4
 Total NaN in row 966 : 4
 Total NaN in row 967 : 4
 Total NaN in row 968 : 6
 Total NaN in row 969 : 9
 Total NaN in row 970 : 5
 Total NaN in row 971 : 10
 Total NaN in row 972 : 5
 Total NaN in row 973 : 4
 Total NaN in row 974 : 7
 Total NaN in row 975 : 4
 Total NaN in row 976 : 6
 Total NaN in row 977 : 10
 Total NaN in row 978 : 6
 Total NaN in row 979 : 5
 Total NaN in row 980 : 4
 Total NaN in row 981 : 6
 Total NaN in row 982 : 4
 Total NaN in row 983 : 4
 Total NaN in row 984 : 5
 Total NaN in row 985 : 10
 Total NaN in row 986 : 5
 Total NaN in row 987 : 5
 Total NaN in row 988 : 4
 Total NaN in row 989 : 5
 Total NaN in row 990 : 5
 Total NaN in row 991 : 4
 Total NaN in row 992 : 3
 Total NaN in row 993 : 3
 Total NaN in row 994 : 5
 Total NaN in row 995 : 4
 Total NaN in row 996 : 4
 Total NaN in row 997 : 6
 Total NaN in row 998 : 5
 Total NaN in row 999 : 4
 Total NaN in row 1000 : 5
 Total NaN in row 1001 : 10
 Total NaN in row 1002 : 5
 Total NaN in row 1003 : 4
 Total NaN in row 1004 : 6
 Total NaN in row 1005 : 4
 Total NaN in row 1006 : 5
 Total NaN in row 1007 : 5
 Total NaN in row 1008 : 5
 Total NaN in row 1009 : 4
 Total NaN in row 1010 : 10
 Total NaN in row 1011 : 4
 Total NaN in row 1012 : 15
 Total NaN in row 1013 : 4
 Total NaN in row 1014 : 5
 Total NaN in row 1015 : 4
 Total NaN in row 1016 : 5
 Total NaN in row 1017 : 4
 Total NaN in row 1018 : 5
 Total NaN in row 1019 : 5
 Total NaN in row 1020 : 4
 Total NaN in row 1021 : 5
 Total NaN in row 1022 : 5
 Total NaN in row 1023 : 5
 Total NaN in row 1024 : 4
 Total NaN in row 1025 : 5
 Total NaN in row 1026 : 4
 Total NaN in row 1027 : 4
 Total NaN in row 1028 : 4
 Total NaN in row 1029 : 4
 Total NaN in row 1030 : 5
 Total NaN in row 1031 : 11
 Total NaN in row 1032 : 4
 Total NaN in row 1033 : 5
 Total NaN in row 1034 : 6
 Total NaN in row 1035 : 3
 Total NaN in row 1036 : 11
 Total NaN in row 1037 : 4
 Total NaN in row 1038 : 5
 Total NaN in row 1039 : 9
 Total NaN in row 1040 : 5
 Total NaN in row 1041 : 3
 Total NaN in row 1042 : 6
 Total NaN in row 1043 : 4
 Total NaN in row 1044 : 4
 Total NaN in row 1045 : 3
 Total NaN in row 1046 : 10
 Total NaN in row 1047 : 4
 Total NaN in row 1048 : 5
 Total NaN in row 1049 : 8
 Total NaN in row 1050 : 10
 Total NaN in row 1051 : 5
 Total NaN in row 1052 : 4
 Total NaN in row 1053 : 3
 Total NaN in row 1054 : 4
 Total NaN in row 1055 : 4
 Total NaN in row 1056 : 3
 Total NaN in row 1057 : 4
 Total NaN in row 1058 : 5
 Total NaN in row 1059 : 4
 Total NaN in row 1060 : 5
 Total NaN in row 1061 : 5
 Total NaN in row 1062 : 4
 Total NaN in row 1063 : 4
 Total NaN in row 1064 : 3
 Total NaN in row 1065 : 4
 Total NaN in row 1066 : 5
 Total NaN in row 1067 : 4
 Total NaN in row 1068 : 5
 Total NaN in row 1069 : 3
 Total NaN in row 1070 : 5
 Total NaN in row 1071 : 5
 Total NaN in row 1072 : 5
 Total NaN in row 1073 : 4
 Total NaN in row 1074 : 4
 Total NaN in row 1075 : 5
 Total NaN in row 1076 : 4
 Total NaN in row 1077 : 2
 Total NaN in row 1078 : 6
 Total NaN in row 1079 : 4
 Total NaN in row 1080 : 5
 Total NaN in row 1081 : 5
 Total NaN in row 1082 : 4
 Total NaN in row 1083 : 4
 Total NaN in row 1084 : 2
 Total NaN in row 1085 : 5
 Total NaN in row 1086 : 5
 Total NaN in row 1087 : 6
 Total NaN in row 1088 : 4
 Total NaN in row 1089 : 5
 Total NaN in row 1090 : 3
 Total NaN in row 1091 : 10
 Total NaN in row 1092 : 4
 Total NaN in row 1093 : 4
 Total NaN in row 1094 : 4
 Total NaN in row 1095 : 5
 Total NaN in row 1096 : 4
 Total NaN in row 1097 : 10
 Total NaN in row 1098 : 6
 Total NaN in row 1099 : 5
 Total NaN in row 1100 : 4
 Total NaN in row 1101 : 5
 Total NaN in row 1102 : 5
 Total NaN in row 1103 : 4
 Total NaN in row 1104 : 4
 Total NaN in row 1105 : 5
 Total NaN in row 1106 : 4
 Total NaN in row 1107 : 4
 Total NaN in row 1108 : 4
 Total NaN in row 1109 : 5
 Total NaN in row 1110 : 4
 Total NaN in row 1111 : 5
 Total NaN in row 1112 : 4
 Total NaN in row 1113 : 5
 Total NaN in row 1114 : 5
 Total NaN in row 1115 : 4
 Total NaN in row 1116 : 4
 Total NaN in row 1117 : 5
 Total NaN in row 1118 : 5
 Total NaN in row 1119 : 5
 Total NaN in row 1120 : 4
 Total NaN in row 1121 : 3
 Total NaN in row 1122 : 5
 Total NaN in row 1123 : 5
 Total NaN in row 1124 : 10
 Total NaN in row 1125 : 5
 Total NaN in row 1126 : 4
 Total NaN in row 1127 : 4
 Total NaN in row 1128 : 4
 Total NaN in row 1129 : 4
 Total NaN in row 1130 : 4
 Total NaN in row 1131 : 3
 Total NaN in row 1132 : 9
 Total NaN in row 1133 : 5
 Total NaN in row 1134 : 4
 Total NaN in row 1135 : 4
 Total NaN in row 1136 : 4
 Total NaN in row 1137 : 5
 Total NaN in row 1138 : 10
 Total NaN in row 1139 : 5
 Total NaN in row 1140 : 4
 Total NaN in row 1141 : 5
 Total NaN in row 1142 : 5
 Total NaN in row 1143 : 4
 Total NaN in row 1144 : 11
 Total NaN in row 1145 : 4
 Total NaN in row 1146 : 4
 Total NaN in row 1147 : 5
 Total NaN in row 1148 : 4
 Total NaN in row 1149 : 5
 Total NaN in row 1150 : 5
 Total NaN in row 1151 : 3
 Total NaN in row 1152 : 4
 Total NaN in row 1153 : 4
 Total NaN in row 1154 : 6
 Total NaN in row 1155 : 4
 Total NaN in row 1156 : 4
 Total NaN in row 1157 : 3
 Total NaN in row 1158 : 4
 Total NaN in row 1159 : 5
 Total NaN in row 1160 : 4
 Total NaN in row 1161 : 4
 Total NaN in row 1162 : 5
 Total NaN in row 1163 : 4
 Total NaN in row 1164 : 5
 Total NaN in row 1165 : 5
 Total NaN in row 1166 : 5
 Total NaN in row 1167 : 5
 Total NaN in row 1168 : 4
 Total NaN in row 1169 : 4
 Total NaN in row 1170 : 4
 Total NaN in row 1171 : 2
 Total NaN in row 1172 : 3
 Total NaN in row 1173 : 4
 Total NaN in row 1174 : 8
 Total NaN in row 1175 : 4
 Total NaN in row 1176 : 4
 Total NaN in row 1177 : 4
 Total NaN in row 1178 : 5
 Total NaN in row 1179 : 4
 Total NaN in row 1180 : 14
 Total NaN in row 1181 : 5
 Total NaN in row 1182 : 4
 Total NaN in row 1183 : 2
 Total NaN in row 1184 : 3
 Total NaN in row 1185 : 4
 Total NaN in row 1186 : 5
 Total NaN in row 1187 : 5
 Total NaN in row 1188 : 3
 Total NaN in row 1189 : 5
 Total NaN in row 1190 : 4
 Total NaN in row 1191 : 5
 Total NaN in row 1192 : 4
 Total NaN in row 1193 : 3
 Total NaN in row 1194 : 6
 Total NaN in row 1195 : 4
 Total NaN in row 1196 : 5
 Total NaN in row 1197 : 4
 Total NaN in row 1198 : 4
 Total NaN in row 1199 : 5
 Total NaN in row 1200 : 4
 Total NaN in row 1201 : 4
 Total NaN in row 1202 : 5
 Total NaN in row 1203 : 4
 Total NaN in row 1204 : 4
 Total NaN in row 1205 : 4
 Total NaN in row 1206 : 4
 Total NaN in row 1207 : 5
 Total NaN in row 1208 : 5
 Total NaN in row 1209 : 5
 Total NaN in row 1210 : 4
 Total NaN in row 1211 : 2
 Total NaN in row 1212 : 5
 Total NaN in row 1213 : 5
 Total NaN in row 1214 : 6
 Total NaN in row 1215 : 5
 Total NaN in row 1216 : 4
 Total NaN in row 1217 : 10
 Total NaN in row 1218 : 5
 Total NaN in row 1219 : 15
 Total NaN in row 1220 : 10
 Total NaN in row 1221 : 5
 Total NaN in row 1222 : 4
 Total NaN in row 1223 : 3
 Total NaN in row 1224 : 4
 Total NaN in row 1225 : 4
 Total NaN in row 1226 : 4
 Total NaN in row 1227 : 4
 Total NaN in row 1228 : 5
 Total NaN in row 1229 : 4
 Total NaN in row 1230 : 4
 Total NaN in row 1231 : 4
 Total NaN in row 1232 : 4
 Total NaN in row 1233 : 10
 Total NaN in row 1234 : 5
 Total NaN in row 1235 : 10
 Total NaN in row 1236 : 5
 Total NaN in row 1237 : 5
 Total NaN in row 1238 : 4
 Total NaN in row 1239 : 5
 Total NaN in row 1240 : 4
 Total NaN in row 1241 : 5
 Total NaN in row 1242 : 5
 Total NaN in row 1243 : 3
 Total NaN in row 1244 : 6
 Total NaN in row 1245 : 5
 Total NaN in row 1246 : 4
 Total NaN in row 1247 : 5
 Total NaN in row 1248 : 6
 Total NaN in row 1249 : 3
 Total NaN in row 1250 : 5
 Total NaN in row 1251 : 4
 Total NaN in row 1252 : 5
 Total NaN in row 1253 : 3
 Total NaN in row 1254 : 4
 Total NaN in row 1255 : 4
 Total NaN in row 1256 : 4
 Total NaN in row 1257 : 4
 Total NaN in row 1258 : 10
 Total NaN in row 1259 : 5
 Total NaN in row 1260 : 5
 Total NaN in row 1261 : 5
 Total NaN in row 1262 : 5
 Total NaN in row 1263 : 5
 Total NaN in row 1264 : 2
 Total NaN in row 1265 : 5
 Total NaN in row 1266 : 5
 Total NaN in row 1267 : 3
 Total NaN in row 1268 : 4
 Total NaN in row 1269 : 4
 Total NaN in row 1270 : 4
 Total NaN in row 1271 : 5
 Total NaN in row 1272 : 5
 Total NaN in row 1273 : 5
 Total NaN in row 1274 : 3
 Total NaN in row 1275 : 4
 Total NaN in row 1276 : 5
 Total NaN in row 1277 : 5
 Total NaN in row 1278 : 5
 Total NaN in row 1279 : 6
 Total NaN in row 1280 : 5
 Total NaN in row 1281 : 5
 Total NaN in row 1282 : 4
 Total NaN in row 1283 : 5

 Total NaN in row 1284 : 10
 Total NaN in row 1285 : 4
 Total NaN in row 1286 : 4
 Total NaN in row 1287 : 5
 Total NaN in row 1288 : 6
 Total NaN in row 1289 : 4
 Total NaN in row 1290 : 4
 Total NaN in row 1291 : 5
 Total NaN in row 1292 : 5
 Total NaN in row 1293 : 5
 Total NaN in row 1294 : 3
 Total NaN in row 1295 : 5
 Total NaN in row 1296 : 4
 Total NaN in row 1297 : 4
 Total NaN in row 1298 : 5
 Total NaN in row 1299 : 3
 Total NaN in row 1300 : 4
 Total NaN in row 1301 : 5
 Total NaN in row 1302 : 5
 Total NaN in row 1303 : 4
 Total NaN in row 1304 : 5
 Total NaN in row 1305 : 5
 Total NaN in row 1306 : 4
 Total NaN in row 1307 : 4
 Total NaN in row 1308 : 5
 Total NaN in row 1309 : 4
 Total NaN in row 1310 : 5
 Total NaN in row 1311 : 4
 Total NaN in row 1312 : 5
 Total NaN in row 1313 : 5
 Total NaN in row 1314 : 4
 Total NaN in row 1315 : 4
 Total NaN in row 1316 : 4
 Total NaN in row 1317 : 4
 Total NaN in row 1318 : 3
 Total NaN in row 1319 : 5
 Total NaN in row 1320 : 5
 Total NaN in row 1321 : 4
 Total NaN in row 1322 : 11
 Total NaN in row 1323 : 4
 Total NaN in row 1324 : 10
 Total NaN in row 1325 : 4
 Total NaN in row 1326 : 9
 Total NaN in row 1327 : 10
 Total NaN in row 1328 : 3
 Total NaN in row 1329 : 1
 Total NaN in row 1330 : 4
 Total NaN in row 1331 : 4
 Total NaN in row 1332 : 5
 Total NaN in row 1333 : 4
 Total NaN in row 1334 : 4
 Total NaN in row 1335 : 5
 Total NaN in row 1336 : 4
 Total NaN in row 1337 : 5
 Total NaN in row 1338 : 9
 Total NaN in row 1339 : 5
 Total NaN in row 1340 : 5
 Total NaN in row 1341 : 4
 Total NaN in row 1342 : 5
 Total NaN in row 1343 : 5
 Total NaN in row 1344 : 4
 Total NaN in row 1345 : 4
 Total NaN in row 1346 : 5
 Total NaN in row 1347 : 5
 Total NaN in row 1348 : 4
 Total NaN in row 1349 : 5
 Total NaN in row 1350 : 9
 Total NaN in row 1351 : 5
 Total NaN in row 1352 : 4
 Total NaN in row 1353 : 5
 Total NaN in row 1354 : 4
 Total NaN in row 1355 : 5
 Total NaN in row 1356 : 3
 Total NaN in row 1357 : 5
 Total NaN in row 1358 : 5
 Total NaN in row 1359 : 6
 Total NaN in row 1360 : 4
 Total NaN in row 1361 : 5
 Total NaN in row 1362 : 4
 Total NaN in row 1363 : 5
 Total NaN in row 1364 : 4
 Total NaN in row 1365 : 4
 Total NaN in row 1366 : 6
 Total NaN in row 1367 : 5
 Total NaN in row 1368 : 4
 Total NaN in row 1369 : 6
 Total NaN in row 1370 : 4
 Total NaN in row 1371 : 5
 Total NaN in row 1372 : 3
 Total NaN in row 1373 : 4
 Total NaN in row 1374 : 5
 Total NaN in row 1375 : 4
 Total NaN in row 1376 : 4
 Total NaN in row 1377 : 5
 Total NaN in row 1378 : 4
 Total NaN in row 1379 : 5
 Total NaN in row 1380 : 6
 Total NaN in row 1381 : 4
 Total NaN in row 1382 : 5
 Total NaN in row 1383 : 5
 Total NaN in row 1384 : 6
 Total NaN in row 1385 : 4
 Total NaN in row 1386 : 4
 Total NaN in row 1387 : 1
 Total NaN in row 1388 : 2
 Total NaN in row 1389 : 4
 Total NaN in row 1390 : 4
 Total NaN in row 1391 : 5
 Total NaN in row 1392 : 5
 Total NaN in row 1393 : 3
 Total NaN in row 1394 : 3
 Total NaN in row 1395 : 4
 Total NaN in row 1396 : 4
 Total NaN in row 1397 : 5
 Total NaN in row 1398 : 5
 Total NaN in row 1399 : 4
 Total NaN in row 1400 : 3
 Total NaN in row 1401 : 4
 Total NaN in row 1402 : 4
 Total NaN in row 1403 : 4
 Total NaN in row 1404 : 5
 Total NaN in row 1405 : 3
 Total NaN in row 1406 : 4
 Total NaN in row 1407 : 4
 Total NaN in row 1408 : 10
 Total NaN in row 1409 : 5
 Total NaN in row 1410 : 3
 Total NaN in row 1411 : 5
 Total NaN in row 1412 : 4
 Total NaN in row 1413 : 10
 Total NaN in row 1414 : 4
 Total NaN in row 1415 : 3
 Total NaN in row 1416 : 4
 Total NaN in row 1417 : 5
 Total NaN in row 1418 : 5
 Total NaN in row 1419 : 5
 Total NaN in row 1420 : 5
 Total NaN in row 1421 : 4
 Total NaN in row 1422 : 4
 Total NaN in row 1423 : 5
 Total NaN in row 1424 : 3
 Total NaN in row 1425 : 4
 Total NaN in row 1426 : 5
 Total NaN in row 1427 : 4
 Total NaN in row 1428 : 3
 Total NaN in row 1429 : 3
 Total NaN in row 1430 : 5
 Total NaN in row 1431 : 4
 Total NaN in row 1432 : 6
 Total NaN in row 1433 : 4
 Total NaN in row 1434 : 4
 Total NaN in row 1435 : 4
 Total NaN in row 1436 : 3
 Total NaN in row 1437 : 4
 Total NaN in row 1438 : 4
 Total NaN in row 1439 : 4
 Total NaN in row 1440 : 4
 Total NaN in row 1441 : 4
 Total NaN in row 1442 : 5
 Total NaN in row 1443 : 4
 Total NaN in row 1444 : 5
 Total NaN in row 1445 : 5
 Total NaN in row 1446 : 5
 Total NaN in row 1447 : 6
 Total NaN in row 1448 : 4
 Total NaN in row 1449 : 4
 Total NaN in row 1450 : 10
 Total NaN in row 1451 : 10
 Total NaN in row 1452 : 4
 Total NaN in row 1453 : 5
 Total NaN in row 1454 : 10
 Total NaN in row 1455 : 4
 Total NaN in row 1456 : 4
 Total NaN in row 1457 : 3
 Total NaN in row 1458 : 2
 Total NaN in row 1459 : 5
 Total NaN in row 1460 : 5

In [21]:
# Under specific column , display rows with null values
washington_data[pd.isnull(washington_data["Fence"])]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500
1454,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,185000
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [29]:
# Checking if there's missing value for the target (SalePrice)
washington_data[pd.isnull(washington_data["SalePrice"])]

Empty DataFrame
Columns: [Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

[0 rows x 81 columns]

In [30]:
# Say there's missing value, the rows containing null should be dropped
# washington_data.dropna(axis=0)

#### Target and Predictors

Setting target

In [22]:
y = washington_data.SalePrice

Setting Predictors

In [23]:
# Based on all data
x = washington_data.drop(['SalePrice'], axis=1)

In [24]:
# Based on selected variables/columns (features)
features = ['LotFrontage','LotArea','YrSold']
x = washington_data[features]

#### Splitting

In [26]:
from sklearn.model_selection import train_test_split
X_train_full, X_valid_full, y_train, y_valid = train_test_split(x, y, train_size=0.8, test_size=0.2,random_state=0)

#### MAE

from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)